.section1 {
    text-align: center;
}

.instrucciones{
    font-weight: 800;
}

.formulario{
   margin-left: 20%;
   margin-right: 20%;
}

.footer{
    margin-top: 10%;
    background-color: lightgray;
    padding-bottom: 0%;
}

.ultimoParrafo{
    text-align: center;
    font-weight: 800;
}

.button {
    display: flex;
    flex-direction: column;
}

